html, body{
    padding: 0;
    margin: 0;
}
img{
	max-width: 100%;
}
.content table{
	max-width: 100%;
}
.clear{
    clear: both;
}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}
.post-group-flex{
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         flex;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
       -moz-justify-content: space-around;
        -ms-justify-content: space-around;
         -o-justify-content: space-around;
            justify-content: space-around;
}
.post-group-flex-left{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
       -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
         -o-justify-content: flex-start;
            justify-content: flex-start;	
}
.slide .item img{
    width: 100%;
}
.box{
    padding: 15px 0;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #000;
}
.navbar-default .navbar-toggle{
    margin: 8px 15px;
}
.owl-item .item{
    margin: 10px;
}

.navbar-default .nav-justified>li{
    float: none;
    display: table-cell;
    vertical-align: middle;
}
@media(max-width: 768px){
    .navbar-default .nav-justified>li {
        display: block;
    }
    .navbar-collapse .nav-justified{
        margin: 0;
    }
}
.post-header{
    background: transparent;
    border-radius: 0;
    color: #743C08;
    text-align: center;
}
.post-header h3{
    font-size: 25px;
}
.post{
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}
.post > a{
    position: relative;
    display: block;
}
.post > a:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
}
.post.post_t1_i0 > a:before{
    opacity: .8;
}
.post.sons_t1_i0 > a:before{
    opacity: .8;
}
.post .post-name{
    color: #743C08;
    font-weight: bold;
    font-size: 16px;
}
.post .post-img{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}
.post table tbody tr td{
    vertical-align: middle;
    border: none;
}
.post .post-content{
    width: 100%;
    padding: 15px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.post .post-content h4{
    text-transform: uppercase;
    font-size: 16px;
}
.post .post-content .post-detail{
    color: #fff;
    text-decoration: none;
    transition: all .15s linear;
}
.post .post-content .post-detail img{
    transition: all .15s linear;
}
.post .post-content .post-detail:hover img{
    transform: translateX(15px);
}
.rewie{
    margin-bottom: 70px;
    position: relative;
}